.div_Out_Task2{
    display: flex;
}

.squares {
    display: flex;
    flex-direction: row;
}

.class_square {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: 10px;
}

#rbuttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 15px;
    font-size: 18px;
}

#btn-change-color , #btn-add-square, #btn_remove_square, #btn_select_first_square, #btn_select_next_square{
    padding: 10px;
    margin: 0 0 10px 10px;
    font-size: 18px;
}

.selected_square {
    border: 5px solid black;
    box-shadow: 1px 2px #66b94d;
}